    <form class="needs-validation" novalidate>
      <div class="form-row">
        <div class="col-md-12 mb-3 style">
          <label for="validationCustom01 style">ADD TASK</label>
        </div>
        <div class="col-md-12 mb-3">
          <label for="validationCustom01">Task name:</label>
          <input type="text" class="form-control" id="validationCustom01"  required>
        </div>
        <div class="col-md-12 mb-3">
           <label for="description">Description:</label>
            <textarea class="form-control" rows="5" id="description"></textarea>
        </div>
      </div>
      <button class="btn btn-primary" type="submit">Add Task</button>
    </form>
